 .container {
    width: 1088px;
    margin: 0 auto;
    padding-bottom: 87px;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.clear {
    clear: both;
}


/* /*header/* */
.satauri {
    color: #5863F8;
    font-size: 14px;
    width: 92px;
    margin-top: 82px;
   
}
.satauri2 {
    color: #000000;
    font-size: 42px;
    width: 498px;
    margin-bottom: 50px;
    font-size: bold;
}

/* Section */
.first-block,
.second-block,
.third-block,
.fourth-block {
    width: 536px;
    background-color:#F8F8F8;
    
}
.first-block,
.second-block {
 margin-bottom: 16px;
}
.box-wraper::after {
    content: "";
    clear: both;
    display: block;
    margin-bottom: 90px;
}

.image-block {
    margin-right: 16px;
}
.text-wraper {
    float: left;
    width: 352px;
    color: #B1B1B1;
    padding-top: 30px;
    text-align: center;
}
.first-block-header,
.second-block-header,
.third-block-header,
.fourth-block-header {
    color: #5863F8;
    font-size: 14px;
    width: 92px;
    margin: 0 150px;
}

.first-block-title,
.second-block-title,
.third-block-title,
.fourth-block-title {
    color: #000000;
    font-size: 18px;
    font-size: bold;
    text-align: center;
    
}

.satauri-body {
    color: #5863F8;
    font-size: 14px;
    width: 498px;
}

.satauri-miure {
    width: 465px;
    color: #000000;
    font-size: 42px;
    margin-bottom: 45px;
    font-style: bold;
    margin-bottom: 30px;
}

.box-wraper2 {
    width: 1088px;
    margin-bottom: 16px;
}

.first-wraper,
.second-wraper,
.third-wraper {
    width: 354px;
    background-color:#F8F8F8;
    margin-bottom: 30px;
    
}
.third-wraper {
    margin-left: 14px;
}




