 .container {
    width: 1088px;
    margin: 0 auto;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.clear {
    clear: both;
}
   
/* Section */
.first-block,
.second-block,
.third-block,
.fourth-block {
    width: 536px;
    background-color:#F8F8F8;
    
}
.first-block,
.second-block {
 margin-bottom: 16px;
}
.box-wraper::after {
    content: "";
    clear: both;
    display: block;
}

.image-block {
    margin-right: 16px;
}
.text-wraper {
    float: left;
    width: 260px;
    color: #B1B1B1;
    padding-top: 30px;
}

.box-wraper2 {
    width: 1088px;
}




.satauri {
    color: #5863F8;
    font-size: 14px;
    width: 92px;
    margin-top: 82px;
   
}
.satauri2 {
    color: #000000;
    font-size: 42px;
    width: 498px;
    margin-bottom: 50px;
    font-size: bold;
}





.satauri-body {
    color: #5863F8;
    font-size: 14px;
    width: 92px;
    margin-left: 163px;
    margin-top: 90px;
}

.satauri-miure {
    width: 465px;
    margin-left: 163px;
    color: #000000;
    font-size: 42px;
    margin-bottom: 45px;

}
.box-wraper {
    float: left;
}
.box5 {
    width: 354px;
    margin-left: 163px;
    float: left;
    vertical-align: middle;
    
}
.image2 {
    width: 352px;
    vertical-align: middle;
   
}

.life {
    color: #5863F8;
    font-size: 14px;
    font-style: bold;
    vertical-align: middle;
}
.life2 {
    color: #000000;
    font-size: 18px;
    font-style: bold;
    vertical-align: middle;
}
.text2 {
    width: 260px;
    color: #B1B1B1;
    height: 62px;
    font-size: 14px;
    margin-right: 16px;
    vertical-align: middle;
}



